*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#logo{
    position: absolute;
    left: 40px;
    top: 25px;
}

#imagemC{
    margin-top: 20px;
    margin-left: 15px;
}
#check{
    margin-top: 5px;
}
#botaologin{
    width: 240px;
}
#circulo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-style: solid;
    margin-bottom: 20px;
    margin-left: 80px;
}

#linha{
    border-color: #ffff;
    width: 200px;
}

.section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #5B85AA;
    color: #ffff;
}

.box{
    position: relative;
    padding: 50px;
    width: 370px;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255,0.1);
    border-radius: 6px;
    /**box-shadow: 0 5px 35px rgba(0,0,0,0.2);*/
}

.box::after{
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 5px;
    pointer-events: none;
}

.box .form{
    position: relative;
    width: 100%;
}

.box .form{
    color: #ffff;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.box .form .inputBx{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.box .form .inputBx input{
    width: 100%;
    outline: none;
    border: 1px solid rgba(255,255,255,0.2);
    background: transparent;
    padding: 8px 10px;
    padding-left: 35px;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    box-shadow: inset 0 0 25px rgba(0,0,0,0.2);

}

.box .form .inputBx input::placeholder{
    color: #fff;
}

.box .form .inputBx input[type="submit"]{
    background: #fff;
    color: #111;
    max-width: 100px;
    padding: 8px 10px;
    box-shadow: none;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 15px;
}
.box .form .inputBx img{
    position: absolute;
    top: 12px;
    left: 10px;
    transform: scale(0.7);
    filter: invert(1);
}

.box .form a{
    color: #fff;
}
